In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("sample_orig_2018.txt", sep="|")
df.columns = pd.read_csv("headers.txt", header=None)[0].tolist()
df

In [27]:
df = pd.read_csv("sample_svcg_2018.txt", sep="|")
df.columns = pd.read_csv("headers.txt", header=None)[0].tolist()
df

,Loan Sequence Number,Monthly Reporting Period,Current Actual UPB,Current Loan Delinquency Status,Loan Age,Remaining Months to Legal Maturity,Repurchase Flag,Modification Flag,Zero Balance Code,Zero Balance Effective Date,...,Miscellaneous Expenses,Actual Loss Calculation,Modification Cost,Step Modification Flag,Deferred Payment Plan,Estimated Loan-to-Value (ELTV),Zero Balance Removal UPB,Delinquent Accrued Interest,Delinquency Due to Disaster,Borrower Assistance Status Code
0,F18Q10000027,201803,74000.00,0,1,359,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,73.0,NaN,NaN,NaN,NaN
1,F18Q10000027,201804,73000.00,0,2,358,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,69.0,NaN,NaN,NaN,NaN
2,F18Q10000027,201805,73000.00,0,3,357,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,69.0,NaN,NaN,NaN,NaN
3,F18Q10000027,201806,73000.00,0,4,356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,69.0,NaN,NaN,NaN,NaN
4,F18Q10000027,201807,73000.00,0,5,355,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,69.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215009,F18Q40289783,202010,427073.80,0,21,350,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,47.0,NaN,NaN,NaN,NaN
1215010,F18Q40289783,202011,426312.82,0,22,349,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,46.0,NaN,NaN,NaN,NaN
1215011,F18Q40289783,202012,425549.88,0,23,348,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,44.0,NaN,NaN,NaN,NaN
1215012,F18Q40289821,202011,420000.00,0,24,362,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1215013,F18Q40289821,202012,420000.00,0,25,361,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,114.0,NaN,NaN,NaN,NaN

In [45]:
df['Current Loan Delinquency Status'] = df['Current Loan Delinquency Status'].replace('R', 100).astype(int)
df

,Loan Sequence Number,Monthly Reporting Period,Current Actual UPB,Current Loan Delinquency Status,Loan Age,Remaining Months to Legal Maturity,Repurchase Flag,Modification Flag,Zero Balance Code,Zero Balance Effective Date,...,Miscellaneous Expenses,Actual Loss Calculation,Modification Cost,Step Modification Flag,Deferred Payment Plan,Estimated Loan-to-Value (ELTV),Zero Balance Removal UPB,Delinquent Accrued Interest,Delinquency Due to Disaster,Borrower Assistance Status Code
0,F18Q10000027,201803,74000.00,0,1,359,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,73.0,NaN,NaN,NaN,NaN
1,F18Q10000027,201804,73000.00,0,2,358,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,69.0,NaN,NaN,NaN,NaN
2,F18Q10000027,201805,73000.00,0,3,357,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,69.0,NaN,NaN,NaN,NaN
3,F18Q10000027,201806,73000.00,0,4,356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,69.0,NaN,NaN,NaN,NaN
4,F18Q10000027,201807,73000.00,0,5,355,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,69.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215009,F18Q40289783,202010,427073.80,0,21,350,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,47.0,NaN,NaN,NaN,NaN
1215010,F18Q40289783,202011,426312.82,0,22,349,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,46.0,NaN,NaN,NaN,NaN
1215011,F18Q40289783,202012,425549.88,0,23,348,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,44.0,NaN,NaN,NaN,NaN
1215012,F18Q40289821,202011,420000.00,0,24,362,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1215013,F18Q40289821,202012,420000.00,0,25,361,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,114.0,NaN,NaN,NaN,NaN

In [47]:
df.head(100)

,Loan Sequence Number,Monthly Reporting Period,Current Actual UPB,Current Loan Delinquency Status,Loan Age,Remaining Months to Legal Maturity,Repurchase Flag,Modification Flag,Zero Balance Code,Zero Balance Effective Date,...,Miscellaneous Expenses,Actual Loss Calculation,Modification Cost,Step Modification Flag,Deferred Payment Plan,Estimated Loan-to-Value (ELTV),Zero Balance Removal UPB,Delinquent Accrued Interest,Delinquency Due to Disaster,Borrower Assistance Status Code
0,F18Q10000027,201803,74000.00,0,1,359,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,73.0,NaN,NaN,NaN,NaN
1,F18Q10000027,201804,73000.00,0,2,358,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,69.0,NaN,NaN,NaN,NaN
2,F18Q10000027,201805,73000.00,0,3,357,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,69.0,NaN,NaN,NaN,NaN
3,F18Q10000027,201806,73000.00,0,4,356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,69.0,NaN,NaN,NaN,NaN
4,F18Q10000027,201807,73000.00,0,5,355,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,69.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,F18Q10000116,201911,25814.35,0,21,338,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,F18Q10000116,201912,25751.75,0,22,337,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,F18Q10000116,202001,25688.92,0,23,336,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,45.0,NaN,NaN,NaN,NaN
98,F18Q10000116,202002,25625.87,0,24,335,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,F18Q10000116,202003,25562.60,0,25,334,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df['Current Loan Delinquency Status'].replace('R', 100).astype(int).value_counts()

0      1190434
1        10419
2         3916
3         2659
4         1935
5         1609
6         1231
7          973
8          749
9          495
10         156
11          93
12          69
13          55
14          46
15          39
16          34
17          32
18          20
100         12
19          10
20           8
21           6
22           4
23           3
24           3
28           1
25           1
26           1
27           1
Name: Current Loan Delinquency Status, dtype: int64

In [40]:
df['Current Loan Delinquency Status']

ValueError: invalid literal for int() with base 10: 'R'

In [44]:
df['Current Loan Delinquency Status'].value_counts()

0     997404
0     193030
1       8774
2       3387
3       2304
4       1665
1       1645
5       1383
6       1059
7        836
8        650
2        529
9        430
3        355
4        270
5        226
6        172
10       138
7        137
8         99
11        81
9         65
12        60
13        47
14        39
15        34
17        31
16        30
18        19
10        18
11        12
R         12
12         9
19         9
13         8
14         7
20         7
21         5
15         5
22         4
16         4
23         3
24         3
26         1
27         1
28         1
20         1
17         1
21         1
18         1
19         1
25         1
Name: Current Loan Delinquency Status, dtype: int64

In [26]:
df = pd.read_csv("sample_svcg_2018.txt", sep="|")
df.columns = pd.read_csv("headers.txt", header=None)[0].tolist()
df

c:\users\hiroki\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (3,7,23) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

ValueError: Length mismatch: Expected axis has 30 elements, new values have 31 elements

In [23]:
pd.read_csv("sample_orig_2018.txt", sep="|")

,784,201803,9,204802,49180,000,1,I,75,39,...,360,01,Other sellers,Other servicers,Unnamed: 25,Unnamed: 26,9.1,Unnamed: 28,2,N.1
0,693,201803,N,203302,24340.0,0,1,P,80,41,...,180,2,Other sellers,Other servicers,NaN,NaN,9,NaN,1,N
1,731,201803,9,204802,NaN,0,1,P,45,37,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N
2,763,201802,Y,204801,NaN,30,1,P,95,34,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N
3,755,201803,9,204802,49700.0,0,1,P,80,33,...,360,2,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N
4,728,201803,9,204802,NaN,0,1,P,80,44,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49994,9999,202001,9,204912,NaN,0,1,P,80,20,...,360,2,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N
49995,811,202003,9,204912,NaN,0,1,P,52,34,...,358,2,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N
49996,809,202008,9,204907,19660.0,0,1,P,77,23,...,348,1,U.S. BANK N.A.,U.S. BANK N.A.,NaN,NaN,9,NaN,2,N
49997,756,202007,9,204912,NaN,0,1,S,51,50,...,354,2,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N
49998,767,202102,9,205101,NaN,0,1,P,80,32,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N